<% @user ||= current_user %>
<div class="row stats">
  <p>
  <ul>
    <li>
      <a href="<%= following_user_path(@user) %>">
          <span id="following" class="stat">
            <span class="badge badge-info"><%= @user.following.count %></span> following
          </span>
        </a>
    </li>
    <li>
        <a href="<%= followers_user_path(@user) %>">
          <span id="followers" class="stat">
            <span class="badge badge-info"><%= @user.followers.count %></span> followers
          </span>
        </a>
    </li>
  </ul>
  </p>
</div>
