<% if user_signed_in? %>
<div class="row">
<%= form_tag({:controller => "posts", :action => "create", :user_id=>current_user }) do %>


  <%= label_tag(:message, "Please put your post here:") %><br />
  <%= text_area_tag(:message, nil, :size => "50x4") %><br />
  <%= submit_tag "Submit", class: 'btn btn-primary' %>
<% end %>
</div>
<% end %>





